.container {
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 1fr 1150px 4fr;
    font-weight: bold;
    gap: 0px 30px;
}

.container .header {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 47px 4fr 55px 60px 1fr;
    background-color: #FFFFFF;
    height: 55px;
    width: 870px;
}

.container .header img, .container .sidebar img{
    height: 25px;
    width: 25px;
}

.container .header .user-pfp img{
    height: 35px;
    width: 35px;
}

.container .header input{
    border-radius: 10px;
    background-color: #F0F0F0;
    border: none;
    height: 24px;
    width: 390px;
}

.container .header .user-name {
    align-self: center;
    height: 39px;
}

.container .nav {
    display: grid;
    grid-column: 2 / 3;
    grid-row:  2 / 3;
    grid-template-columns: 60px 5fr 100px 100px 1fr;
    box-shadow: 0px 1px gray;
    width: 870px;
    height: 55px;
}

.container .nav img{
    width: 45px;
    height: 45px;
}

.container .nav .greeting-and-user-name {
    font-size: 13px;
}

.container .nav .greeting-and-user-name div {
    font-size: 19px;
}

.container .nav button{
    width: 80px;
    height: 28px;
    background-color: #007FFF;
    color: white;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}

.container .sidebar {
    grid-row: 1 / 3;
    height: 800px;
    background-color: #007FFF;
    color: white;
}

.container .sidebar img {
    filter: invert(100%);
}

.container .sidebar > div {
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    grid-template-columns: 50px 1fr;
}

.container .sidebar .logo img {
    width: 45px;
    height: 45px;
}

.container .sidebar > :not(.logo){
    margin-left: 30px;
    margin-top: 15px;
}

.container .sidebar .home {
    margin-top: 40px;
}

.container .sidebar .settings {
    margin-top: 50px;
}

.container .projects {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 95px;
    width: 630px;
    height: 0px;
    gap: 20px 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.container .projects-title {
    margin-top: 56px;
    background-color: #f9fafb;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 870px;
    height: 690px;
}

.container .projects .project {
    width: 300px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 1px 1px #f3f4f6;
    border-left: solid yellow;
    background-color: white;
}

.container .projects .project .paragraph {
    font-weight: normal;
    font-size: 13px;
    height: 70px;
}

.container .projects .project .project-images {
    margin-left: 200px;
}

.container .projects .project img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.container .announcements {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 230px;
    height: 0;
    margin-left: 630px;
    margin-top: 85px;
    grid-template-rows: 65px 0px 65px 25px;
}

.container .announcements-title {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 55px;
    margin-left: 632px;
}

.container .announcements .announcement {
    margin-top: 10px;
    height: 90px;
    display: grid;
    grid-template-rows: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px #f3f4f6;
}

.container .announcements .announcement .title {
    font-size: 13px;
}

.container .announcements .announcement .paragraph {
    font-weight: normal;
    font-size: 11px;
}

.container .announcements span:first-of-type {
    margin-top: 4px;
}

.container .announcements span {
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

.container .announcements hr {
    position: relative;
}

.container .trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    margin-top: 410px;
    margin-left: 630px;
}

.container .trending .user-project img {
    width: 25px;
    height: 25px;
}

.container .trending .user-project .small-project-name {
    font-weight: normal;
}